:root {
    --blue: #1e90ff;
    --white: #ffffff; 
    --gray:#cbcbcb;
    --black: #000000;
    --offwhite: #EFEFEF;
    --seablue:#00CDEF;
    --red:#ED482B;
    --purple:#403F6D;
    
}

.footer{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #EFEFEF;

}

.section1{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

}
.section2{
    background-color: #2a2a2a;
    color: #EFEFEF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    line-height: 30px;
    cursor: pointer;
}
.section3{
    background-color: #EFEFEF;
    height: 20px;
}

.section1 >h1{
    color: #EFEFEF;
    font-size: 20px;
    margin-right: 30px;
    letter-spacing: 2px;
}
.section1 >button{
    background-color: #EFEFEF;
    padding: 10px 40px 8px 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    cursor: pointer;
    transition: 300ms ease-in;

}
.section1 >button:hover{
    background-color: var(--black);
    color: var(--white);
}
.section2 > div > h3{
    font-size: 14px ;
    letter-spacing: 1px;
   
}
.section2 > div > h3:hover{
   text-decoration: underline;
}
.section2 > div > p:hover{
    text-decoration: underline;
 }
 

.section2 > div > p{
    font-size: 13px ;
    letter-spacing: 1px;
}

.section3 > p{
    font-size: 10px;
    font-weight: bolder;
   text-align: center;
   margin-top: 13px;
}

@media(max-width:768px){
    .hid{
        display: none;
    }
    .section1{
        flex-direction: column;
    }
    .section2{
        text-align: center;
    }
    .section1 >h1{
        font-size: 15px;
    }
    .section1 >button{
        padding: 8px 20px 8px 20px;
        margin-top: 15px;
    }
    .section2 > div > h3{
        font-size: 12px ;
    }
    .section2 > div > p{
        font-size: 11px ;
    }
    .section3 > p{
        font-size: 8px;
    }
}
